doctype html
html
	head
		title=title
		script(type="text/javascript",src="/socket.io/socket.io.js",charset="UTF-8")
		script.
			var socket = io.connect("#{address}");
			socket.on("ping", function() {
				console.log("PING!");
				socket.emit("pong");
			});
	body
		div.container #{title} #{server} #{port}
			
			